html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Categories */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.categories-list {
  list-style: none;
  display: flex;
  gap: 30px;
  color: rgb(172, 172, 172);
  margin: 0;
  padding-left: 20px;
}

.categories {
  padding-left: 10px;
}

.category {
  position: relative;
  padding-bottom: 0px;
}

.category a {
  display: block;
  transition: color 0.3s ease;
}

.category:hover a {
  color: #333;
}

/* Ligne orange de survol */
.category::after {
  content: '';
  position: absolute;
  bottom: -33px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #ff7e1b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: 2;
}

.category:hover::after {
  transform: scaleX(1);
}

.user-actions {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}

.profile img {
  height: 50px;
}

h3 {
  text-transform: uppercase;
  color: #ccc;
}

.product-description {
  color: #ccc;
}

.card {
  display: flex;
  gap: 20px;
}

.promotion {
  color: white;
  background-color: black;
  border-radius: 5px;
  width: max-content;
  padding: 5px 10px
}

.current-price, .product-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-quantity {
  display: flex;
  width: max-content;
  padding: 10px 30px;
  background-color: rgb(225, 225, 225);
  gap: 10px;
  border-radius: 5px;
}

.add-to-cart {
  display: flex;
  background-color: #ff7e1b;
  width: max-content;
  border-radius: 5px;
  padding: 10px 30px;
  gap: 15px;
  align-items: center;
}

.product-actions img {
  height: 20px;
  width: 20px;
}
